/* :root {
  background-color: #333;
  color: #eee;
} */

/* 去除默认的外边距和内边距 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 设置文本颜色、字体和大小 */
body {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10PX;
}

/* Webkit浏览器（如Chrome和Safari） */
::-webkit-scrollbar {
  width: 3px;
  /* 滚动条宽度 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 滚动条轨道背景色 */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
  /* 滚动条拖动条颜色 */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 鼠标悬停时的拖动条颜色 */
}

/* 设置链接颜色和样式 */
a {
  color: #07c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 设置列表样式 */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}